.scrolling {
    padding:1em;
    border-radius: .5em;
    margin: 50% 0;
    background-color: #eee;
}
.scrolling.right {
    text-align: right;
}
* {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}